.happylang{
    background-color: rgb(238, 30, 64);
    color: rgb(228, 214, 17);
    padding: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}

.caring{
    background-color: rgb(187, 53, 187);
    color: rgb(182, 194, 231);
    padding: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}

.sil{
    background-color: rgb(187, 151, 53);
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}

a{
    text-decoration: none;
}

p{
    width: 100px;
    display: block;
    margin: auto;
    background-color: rgba(240, 248, 255, 0.603);
}

.gap{
    text-align: center;
}

.wedding{
    background-color: rgb(223, 221, 220);
    color: rgb(12, 12, 12);
    padding: 20px;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}

/*sad song*/
#adore{
    background-image: url("OtherImages/Ichi.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#yaosobi{
    background-image: url("OtherImages/gamma.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#why{
    background-image: url("OtherImages/beta.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#panaginip{
    background-image: url("OtherImages/delta.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.side{
    margin: 0;
    text-align: right;
}

.side :hover{
    background-color: antiquewhite;
}

